{% extends "layout.html" %}
{% block main %}

  <div class="card mt-5">
    <div class="card-header bg-primary text-light">
      Sobre o núcleo de desenvolvimento (UN1D3V)
    </div>
    <div class="card-body">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sed neque nec nisl maximus accumsan convallis vel diam. Ut suscipit urna at metus luctus, ut pellentesque ex volutpat. Nulla at pretium diam. Aenean gravida purus non ipsum mattis lobortis. Vivamus quis pellentesque purus. Nunc massa eros, sodales non sodales in, rutrum sed sapien. Mauris auctor quis orci vel tristique.
      </p>
      <p class="card-text">
        Phasellus laoreet cursus urna eu vulputate. Morbi rutrum efficitur lorem, non gravida felis dapibus vel. Nam ut sagittis felis. Ut dui quam, iaculis at venenatis quis, porta et elit. Suspendisse augue sem, feugiat a posuere sit amet, tincidunt id mi. Vestibulum nec pulvinar tellus, in consectetur eros. Phasellus laoreet tortor a bibendum facilisis. Praesent a ligula fermentum, vehicula nunc sit amet, vehicula magna. Quisque tincidunt turpis ac commodo iaculis. In dictum dapibus nibh ac imperdiet. Sed eleifend ex vitae laoreet porttitor. Donec a arcu efficitur, lobortis nibh eu, euismod leo. Maecenas turpis nisi, sollicitudin ut venenatis id, vestibulum eget enim.
      </p>
    </div>
  </div>

{% endblock %}